{% extends 'base.html' %}
{% block  title %}
[{{ tableInfo.Schema }}].[{{ tableInfo.Name }}]
{% endblock %}

{% block main %}
<div id="pageTitle">
    <img class="Table32" title="Table" alt="Table" src="/static/imgs/Table32.png"/>
        [{{ tableInfo.Schema }}].[{{ tableInfo.Name }}]
</div>
<!--描述、备注-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading">
        <div class="expandCollapse">
            <img style="display:none;" class="collapsed" title="collapsed" alt="collapsed" src="/static/imgs/collapsed.png">
            <img style="" class="expanded" title="expanded" alt="expanded" src="/static/imgs/expanded.png">
        </div>
        <a name="description">描述/备注</a>
    </div>
    <div class="panel-body">{{ tableInfo.Description }}</div>
</div>
<!--描述、备注-->

<!--相关属性-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading">
        <div class="expandCollapse">
            <img style="display:none;" class="collapsed" title="collapsed" alt="collapsed" src="/static/imgs/collapsed.png">
            <img style="" class="expanded" title="expanded" alt="expanded" src="/static/imgs/expanded.png">
        </div>
        <a name="properties">相关属性</a>
    </div>
    <div class="panel-body">
        <table cellspacing="1" border="0" class="dataTable table-hover">
            <tbody>
                <tr>
                    <th>属性名</th>
                    <th>值</th>
                </tr>
                <tr>
                    <td>语言设置</td>
                    <td>Latin1_General_CS_AS</td>
                </tr>
                <tr>
                    <td>行数</td>
                    <td>{{ tableInfo.RowCount  }}</td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>{{ tableInfo.CreateDate }}</td>
                </tr>
                <tr>
                    <td>最后修改时间</td>
                    <td>{{ tableInfo.ModifyDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--相关属性-->

<!--列信息-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading">
        <div class="expandCollapse">
            <img style="display:none;" class="collapsed" title="collapsed" alt="collapsed" src="/static/imgs/collapsed.png">
            <img style="" class="expanded" title="expanded" alt="expanded" src="/static/imgs/expanded.png">
        </div>
        <a name="columns">列信息</a>
    </div>
    <div class="panel-body">
        <table cellspacing="1" border="0" class="dataTable table-hover">
            <tbody>
            <tr>
                <th>主外键</th>
                <th>名称</th>
                <th>数据类型</th>
                <th>最大长度(Bytes)</th>
                <th>允许为空</th>
                <th>自增</th>
                <th>默认值</th>
                <th>描述/备注</th>
            </tr>
            {% for col in tableInfo.Columns %}
            <tr>
                <td>
                    {% if col.IsPrimary %}
                        <a href="#indexes">
                            <img class="pkcluster" title="" alt="" src="/static/imgs/pkcluster.png"></a>
                    {% elif col.IsIndex %}
                        <a href="#indexes">
                            <img src="/static/imgs/Index.png" alt="" title="" class="Index">
                        </a>
                    {% endif %}
                </td>
                <td>{{ col.Name }}</td>
                <td>{{ col.DataType }}</td>
                <td>{{ col.MaxLength }}</td>
                <td>
                    <div class="tick">
                        {% if col.AllowNull %}
                            <span class="do-yes">是</span>
                        {% else %}
                            <span class="do-no">否</span>
                        {% endif %}
                    </div>
                </td>
                <td>
                    {% if col.IsIdentity %}
                        {{ col.IdentitySeed }}-{{ col.IdentityIncrement }}
                    {% endif %}
                </td>
                <td>{{ col.DefaultValue }}</td>
                <td  style="max-width:300px;">
                    {% if col.Description != None %}
                        {{ col.Description }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--列信息-->

<!--索引信息-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading">
        <div class="expandCollapse">
            <img src="/static/imgs/collapsed.png" alt="collapsed" title="collapsed" class="collapsed" style="display:none;">
            <img src="/static/imgs/expanded.png" alt="expanded" title="expanded" class="expanded" style="">
        </div>
        <a name="indexes">索引</a>
    </div>
    <div class="panel-body">
        <table class="dataTable table-hover" border="0" cellspacing="1">
            <tbody>
            <tr>
                <th>键</th>
                <th>名称</th>
                <th>索引列</th>
                <th>是否唯一</th>
                <th>描述/备注</th>
            </tr>
            {% for index in tableInfo.Indexes %}
            <tr>
                <td>
                    {% if index.IsPrimaryKey %}
                        <a href="#indexes">
                            <img src="/static/imgs/pkcluster.png"
                                 alt=""
                                 title=""
                                 class="pkcluster">
                        </a>
                    {% endif %}
                </td>
                <td>
                   {{ index.Name }}
                </td>
                <td style="max-width:100px;overflow:break;">{{ index.IndexColumnNames }}</td>
                <td>
                    <div class="tick">
                        {% if index.IsUnique %}
                            <span class="do-yes">是</span>
                        {% else %}
                             <span class="do-no">否</span>
                        {% endif %}
                    </div>
                </td>
                <td style="max-width:200px;overflow:break;">
                    {% if index.Description != None %}
                        {{ index.Description }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--索引信息-->

<!--外键信息-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading"><div class="expandCollapse">
        <img style="display: none;"
             class="collapsed"
             title="collapsed"
             alt="collapsed"
             src="/static/imgs/collapsed.png">
        <img style="display: inline;"
             class="expanded"
             title="expanded"
             alt="expanded"
             src="/static/imgs/expanded.png">
    </div>
    <a name="foreignkeys">外键</a>
    </div>
    <div class="panel-body">
        <table cellspacing="1" border="0" class="dataTable table-hover">
            <tbody>
            <tr>
                <th>名称</th>
                <th >列</th>
                <th>描述/备注</th>
            </tr>
            {% for key in tableInfo.ForeignKeys %}
            <tr>
                <td>{{ key.Name }}</td>
                <td style="max-width:200px;">{{ key.ColumnName }}-&gt;<a href="/table/{{ key.RefrencedObjectID }}">[{{ key.RefrencedObjectSchema }}].[{{ key.RefrencedObjectName }}].[{{ key.ColumnName }}]</a></td>
                <td>
                    {% if key.Description != None %}
                        {{ key.Description }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--外键信息-->

<!--脚本-->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading"><div class="expandCollapse">
        <img style="display:none;"
             class="collapsed"
             title="collapsed"
             alt="collapsed"
             src="/static/imgs/collapsed.png">
        <img style=""
             class="expanded"
             title="expanded"
             alt="expanded"
             src="/static/imgs/expanded.png">
    </div>
        <a name="sqlscript">脚本</a>
    </div>
    <div class="panel-body">
        <pre id="sqlScript" class="syntaxhighlighter sql">{{ tableInfo.Script }}</pre>
    </div>
</div>
{% endblock %}

{% block foot %}
<link href="/static/styles/shCoreDefault.css" rel="stylesheet">
<script src="/static/scripts/shCore.js" type="text/javascript"></script>
<script src="/static/scripts/shBrushSql.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        SyntaxHighlighter.all();
    });
</script>
{% endblock %}